#Python
__pycache__
*.py[cod]
*.pyo

#Virtual Environment
venv/
.venv/
env/

#Environment Variables
.env
serviceAccountKey.json

#IDE
.vscode/
.idea/

#Testing
.pytest_cache

#Logs
*.log

#macOS
.DS_Store

#Windows
Thumbs.db